DB_HOST=127.0.0.1
DB_NAME=flexpay
DB_USER=root
DB_PASSWORD=
FRONTEND_URL=https://flexpay-theta.vercel.app
ALLOWED_ORIGINS=https://flexpay-theta.vercel.app
TOPUP_BANK_NAME=
TOPUP_ACCOUNT_NUMBER=
TOPUP_ACCOUNT_NAME=
APP_ENV=production
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:youremail@example.com
